@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(30px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

.fade-up{

    animation:fadeUp .7s ease;

}

.hover-scale{

    transition:var(--transition);

}

.hover-scale:hover{

    transform:translateY(-5px);

}

.button-hover{

    transition:var(--transition);

}

.button-hover:hover{

    transform:translateY(-2px);

}